body{
    font-family: Arial, sans-serif;
}
.heading{
    margin-top: 20px;
    text-align: center;
}
.form_container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border:1px solid #ccc;
    border-radius: 8px; 
}
.form_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
}
.form_group p{
    margin: 5px 0 7px 0;
}
.option{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.option label{
    font-weight: normal;
}
.radio_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1px;
}
.radio_grid .option{
    margin-top: 10px;
}
.cam_on{
    font-size: 25px;
    margin-bottom: -7px
}
.check_box{
    display: flex;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: -7px;
}
button{
    margin-top: 30px;
    border-radius: 8px;
    background-color: rgb(0, 163, 230);
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    border-color: #ffffff;
    padding: 10px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: -15px;
}
